$BackgroundBodyColor: rgba(198, 238, 252, 0.53);
$PageStyle: #fccd10;
$ContentBackground: #ffffff;
$BackgroundColor: #3b3b3b;
$BackgroundColor2:#fff178;
$TableColor: #e0e0e0;
$TableColor1: #94a34e;
$TableColor2:#677d01;
$Send: #fccd10;
$TextColor: #ffffff;
$CapsLock: uppercase;
$width: 95%;
$FontSize: 16px;
$LinkColor:#fccd10;
$InputColor: #fccd10;