$BackgroundBodyColor:#fadcba;;
$PageStyle: #893c00;
$ContentBackground: #ffffff;
$BackgroundColor: #ffffff;
$BackgroundColor2: #fadcba;
$TableColor: #e0e0e0;
$TableColor1: #e0e0e0;
$TableColor2:#ffffff;
$Send: #3d70a1;
$TextColor: #000000;
$CapsLock: none;
$width: 39%;
$FontSize: 20px;
$LinkColor: none;
$InputColor: none;